name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t rubeenabegum/frontend:latest .

      - name: Push Docker image
        run: docker push rubeenabegum/frontend:latest

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3

      - name: Apply Kubernetes Deployment
        run: |
          kubectl apply -f k8s/
